@let serversViewActive = navService.isActive('servers');
@let friendsViewActive = navService.isActive('friends');
@let directMessagesViewActive = navService.isActive('direct_messages');

<div class="grid h-screen bg-surface-900 grid-cols-[26rem_1fr] grid-rows-1">
  <div class="grid grid-cols-[8rem_1px_1fr] grid-rows-layout relative">
    <app-server-list class="row-span-3 p-2 overflow-y-auto"></app-server-list>
    <p-divider class="row-span-3 !mx-0" layout="vertical"></p-divider>
    <app-server-title-bar></app-server-title-bar>
    <p-divider layout="horizontal" class="col-start-3" styleClass="!my-0"></p-divider>
    <div class="col-start-3 row-start-3 m-2">
      @if (serversViewActive) {
        <app-channel-list class="overflow-y-auto"></app-channel-list>
      } @else if (directMessagesViewActive) {
        <app-dms-list class="overflow-hidden"></app-dms-list>
      }
    </div>

    <div
      class="absolute bottom-0 left-0 right-0 p-3 bg-surface-800 rounded-lg m-4 shadow-lg z-50 flex items-center justify-between">
      <app-user-panel />
    </div>
  </div>
  <div class="grid grid-cols-[1fr_1px_14rem] grid-rows-layout bg-surface-800">
    @if (friendsViewActive) {
      <app-friends-title-bar class="col-span-3" />
      <p-divider layout="horizontal" class="col-span-3" styleClass="!my-0"></p-divider>
      <app-friends-list class="col-span-3" />
    } @else {
      @if (navService.activeChannelId() || navService.activeDMId()) {
        <app-channel-title-bar class="col-span-3" />
        <p-divider class="col-span-3 row-start-2 !my-0" layout="horizontal"></p-divider>
        <div class="row-start-3 bg-surface-800 overflow-hidden">
          <div class="w-full h-full grid grid-rows-[1fr_auto]">
            <app-message-list class="flex-1 overflow-hidden"></app-message-list>
            <app-message-input class="pb-4 px-4"></app-message-input>
          </div>
        </div>
        <p-divider layout="vertical" class="row-start-3 !mx-0"></p-divider>
        <app-user-list class="row-start-3 p-2 overflow-y-auto" />
      } @else {
        <p>No channels?</p>
      }
    }
  </div>
</div>
