<div class="flex items-center justify-between w-full h-full p-2">
  <h1 class="ml-10 text-lg font-medium text-muted-color-emphasis">
    {{ channelName }}
  </h1>
  <div class="flex items-center space-x-2">
    <button
      pButton
      pRipple
      icon="pi pi-thumbtack"
      class="p-button-rounded p-button-text p-button-plain"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-bell"
      class="p-button-rounded p-button-text p-button-plain"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-users"
      class="p-button-rounded p-button-text p-button-plain"
    ></button>
    <p-iconfield>
      <p-inputicon styleClass="pi pi-search" />
      <input type="text" pInputText placeholder="Search" />
    </p-iconfield>
  </div>
</div>
