<div class="flex items-center justify-between w-full h-full p-2 px-4">
  <div class="flex ml-10 items-center gap-x-8">
    <h1 class="text-lg font-medium text-muted-color-emphasis">
      {{ channelName }}
    </h1>
    <p class="text-sm font-medium text-muted-color">
      {{ channelTopic }}
    </p>
  </div>

  <div class="flex items-center gap-x-2">
    <button
      pButton
      pRipple
      icon="pi pi-thumbtack"
      class="p-button-rounded p-button-text"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-bell"
      class="p-button-rounded p-button-text"
    ></button>
    <button
      pButton
      pRipple
      icon="pi pi-users"
      class="p-button-rounded p-button-text"
    ></button>
    <p-iconfield>
      <p-inputicon styleClass="pi pi-search" />
      <input
        type="text"
        class="w-full !text-sm !bg-surface-700 rounded-lg border !border-surface-600 focus:outline-none focus:ring-2 focus:ring-primary transition-all duration-200"
        pInputText
        placeholder="Search"
      />
    </p-iconfield>
  </div>
</div>
