<!-- <p-dialog header="Create Channel" [modal]="false" [visible]="visible()" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Update your information.</span> -->
    <!-- <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24">Username</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">Email</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" (click)="visible = false" />
        <p-button label="Save" (click)="visible = false" />
    </div> -->
<!-- </p-dialog> -->

<div class="card flex flex-col gap-4">
  <!-- <span class="p-text-secondary block mb-8">Update your information.</span> -->
    @if (categoryName) {
        <div>
            <small>in {{categoryName}}</small>
        </div>
    }

    <div class="w-full flex flex-col gap-2">
        <label for="name">Channel Name</label>
        <input type="text" class="!w-full !py-4 !pl-4 !text-sm !bg-surface-800 rounded-lg border !border-surface-600 focus:outline-none focus:ring-2 focus:ring-primary" pInputText [(ngModel)]="channelName"/>
    </div>

    <div class="flex justify-end gap-2">
        <p-button label="Cancel" severity="secondary" variant="text" (onClick)="close()" />
        <p-button label="Save" [disabled]="!channelName" (onClick)="createChannel()" />
    </div>
</div>