<div class="flex items-center w-full h-full p-2 px-4 gap-x-10">
  <h1 class="ml-10 text-lg font-medium text-muted-color-emphasis align-middle">Friends</h1>

  <div class="flex items-center gap-x-2">
    <div
      #channelItem
      [ngClass]="{
        'px-3 py-1 h-full list-none rounded-border transition-colors duration-200 cursor-pointer': true,
        'text-color-emphasis bg-surface-700': navService.isActive('online'),
        'text-muted-color hover:bg-surface-700 hover:text-muted-color-emphasis':
          !navService.isActive('online'),
      }"
      (click)="navService.navigate('online')">
      <div>Online</div>
    </div>

    <!-- <p-button label="All" severity="secondary" (onClick)="navService.navigate('all')" />
    <p-button label="Incoming" severity="secondary" (onClick)="navService.navigate('incoming')" />
    <p-button label="Outgoing" severity="secondary" (onClick)="navService.navigate('outgoing')" /> -->
    <div
      #channelItem
      [ngClass]="{
        'px-3 py-1 h-full list-none rounded-border transition-colors duration-200 cursor-pointer': true,
        'text-color-emphasis bg-surface-700': navService.isActive('all'),
        'text-muted-color hover:bg-surface-700 hover:text-muted-color-emphasis':
          !navService.isActive('all'),
      }"
      (click)="navService.navigate('all')">
      <div>All</div>
    </div>

    <div
      #channelItem
      [ngClass]="{
        'px-3 py-1 h-full list-none rounded-border transition-colors duration-200 cursor-pointer': true,
        'text-color-emphasis bg-surface-700': navService.isActive('incoming'),
        'text-muted-color hover:bg-surface-700 hover:text-muted-color-emphasis':
          !navService.isActive('incoming'),
      }"
      (click)="navService.navigate('incoming')">
      <div>Incoming</div>
    </div>

    <div
      #channelItem
      [ngClass]="{
        'px-3 py-1 h-full list-none rounded-border transition-colors duration-200 cursor-pointer': true,
        'text-color-emphasis bg-surface-700': navService.isActive('outgoing'),
        'text-muted-color hover:bg-surface-700 hover:text-muted-color-emphasis':
          !navService.isActive('outgoing'),
      }"
      (click)="navService.navigate('outgoing')">
      <div>Outgoing</div>
    </div>

    <!-- <p-button label="Add Friend" (onClick)="navService.navigate('add-friend')" /> -->
    <div
      #channelItem
      [ngClass]="{
        'px-3 py-1 h-full list-none rounded-border transition-colors duration-200 cursor-pointer': true,
        'text-color-emphasis bg-primary-700': navService.isActive('add-friend'),
        'text-color bg-primary-500 hover:bg-primary-600 hover:text-color-emphasis':
          !navService.isActive('add-friend'),
      }"
      (click)="navService.navigate('add-friend')">
      <div>Add Friend</div>
    </div>
  </div>
</div>
