<div>
  @if(groupedChannels().get(null)) {
  <div class="mb-4">
    @for (channel of groupedChannels().get(null) ?? []; track channel.id){
    <app-channel-button
      [channel]="channel"
      [isSelected]="channel.id === currentChannel()"
      (select)="selectChannel($event)"
      (openContextMenu)="showContextMenu($event, channel)"
    />
    }
  </div>
  } @for (category of categories(); track category.id) {
  <app-accordion-panel
    [header]="category.name"
    (add)="startChannelCreate(category.id)"
  >
    @for (channel of groupedChannels().get(category.id) ?? []; track
    channel.id){
    <app-channel-button
      [channel]="channel"
      [isSelected]="channel.id === currentChannel()"
      (select)="selectChannel($event)"
      (openContextMenu)="showContextMenu($event, channel)"
    />
    }
  </app-accordion-panel>
  }

  <p-contextmenu
    #cm
    [model]="contextMenuItems"
    (onHide)="contextMenuChannel = null"
  />
</div>

<app-fullscreen-overlay [(visible)]="editOverlayVisible">
  <div class="space-y-5 w-full mx-auto">
    <h1 class="text-lg font-medium text-color-emphasis">Overview</h1>

    <form [formGroup]="channelEditForm" class="space-y-5">
      <div class="w-full flex flex-col gap-2">
        <label for="name">Channel Name</label>
        <input
          id="name"
          type="text"
          class="!w-full !p-4 !text-sm !bg-surface-700 rounded-lg border !border-surface-600 focus:outline-none focus:ring-2 focus:ring-primary"
          pInputText
          formControlName="name"
        />
      </div>

      <p-divider class="!mx-0" layout="horizontal" />

      <div class="w-full flex flex-col gap-2">
        <label for="topic">Channel Topic</label>
        <textarea
          id="topic"
          type="text"
          class="w-full !p-4 !text-sm !bg-surface-700 rounded-lg !border !border-surface-600 !focus:outline-none !focus:ring-2 !focus:ring-primary"
          pTextarea
          rows="5"
          formControlName="topic"
          placeholder="Write a channel topic."
          style="resize: none"
        ></textarea>
      </div>
    </form>

    <div
      class="flex justify-between items-center pt-4 border-t border-surface-600"
    >
      <button pButton label="Cancel" class="p-button-text"></button>
      <button
        pButton
        label="Save Changes"
        (click)="saveChannelEdit()"
        [disabled]="!channelEditForm.dirty || channelEditForm.invalid"
      ></button>
    </div>
  </div>
</app-fullscreen-overlay>
