<div>
  <div class="mb-4">
    @for (channel of groupedChannels().get(null) ?? []; track channel.id){
    <app-channel-button
      [channel]="channel"
      [isSelected]="channel.id === currentChannel()"
      (select)="selectChannel($event)"
      (openContextMenu)="showContextMenu($event, channel)"
    />
    }
  </div>

  @for (category of categories(); track category.id) {
  <app-accordion-panel
    [header]="category.name"
    (add)="startCreateChannel(category.id)"
  >
    @for (channel of groupedChannels().get(category.id) ?? []; track
    channel.id){
    <app-channel-button
      [channel]="channel"
      [isSelected]="channel.id === currentChannel()"
      (select)="selectChannel($event)"
      (openContextMenu)="showContextMenu($event, channel)"
    />
    }
  </app-accordion-panel>
  }

  <p-contextmenu
    #cm
    [model]="contextMenuItems"
    (onHide)="contextMenuChannel = null"
  />
</div>
