<!-- <div class="space-y-1">
  @for (channel of channels().filter(c => !c.categoryId); track $index) {
  <li 
    [ngClass]="{
      'pl-3 py-1 list-none rounded-border transition-colors duration-200 cursor-pointer': true,
      'text-color-emphasis bg-emphasis': channel.id === currentChannel(),
      'text-muted-color hover:bg-emphasis hover:text-muted-color-emphasis': channel.id !== currentChannel()
    }"
    (click)="selectChannel(channel.id)"
  >
    <div>{{ channel.name }}</div>
  </li>
  }
</div> -->

<div class="mb-4">
  @for (channel of groupedChannels().get(null) ?? []; track channel.id){
    <li 
      [ngClass]="{
        'pl-3 py-1 mb-1 list-none rounded-border transition-colors duration-200 cursor-pointer': true,
        'text-color-emphasis bg-emphasis': channel.id === currentChannel(),
        'text-muted-color hover:bg-emphasis hover:text-muted-color-emphasis': channel.id !== currentChannel()
      }"
      (click)="selectChannel(channel.id)"
    >
      <div>#  {{ channel.name }}</div>
    </li>
  }
</div>


@for (category of categories(); track category.id) {
  <app-accordion-panel 
    [header]="category.name"
    (add)="startCreateChannel(category.id)"
  >
    @for (channel of groupedChannels().get(category.id) ?? []; track channel.id){
      <li 
        [ngClass]="{
          'pl-3 py-1 mb-1 list-none rounded-border transition-colors duration-200 cursor-pointer': true,
          'text-color-emphasis bg-emphasis': channel.id === currentChannel(),
          'text-muted-color hover:bg-emphasis hover:text-muted-color-emphasis': channel.id !== currentChannel()
        }"
        (click)="selectChannel(channel.id)"
      >
        <div>#  {{ channel.name }}</div>
      </li>
    }
  </app-accordion-panel>
}