.channel-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.channel-item {
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.2s;
  text-decoration: none;
  list-style-type: none;
}

.channel-item:hover {
  background-color: #2f3136;
}

.channel-item.active {
  background-color: #4f545c;
  color: white;
}
