<div class="flex h-screen bg-surface-900">
  <app-server-list class="w-32 p-2 overflow-y-auto"></app-server-list>
  <p-divider layout="vertical" styleClass="!mx-0" />

  <div class="w-72 flex-col">
    <app-server-title-bar></app-server-title-bar>

    <p-divider layout="horizontal" styleClass="!my-0"></p-divider>
    <app-channel-list
      class="flex flex-col flex-1 m-2 overflow-y-auto"
    ></app-channel-list>
  </div>

  <div class="flex flex-col flex-1 bg-surface-800">
    <app-channel-title-bar></app-channel-title-bar>

    <p-divider layout="horizontal" styleClass="!my-0"></p-divider>

    <div class="flex flex-1 overflow-hidden">
      <div class="flex flex-col flex-1">
        <app-message-list class="flex-1 overflow-hidden"></app-message-list>
        <app-message-input class="pb-4 px-4"></app-message-input>
      </div>

      <p-divider layout="vertical" styleClass="!mx-0" />

      <div class="w-56 p-2 overflow-y-auto">
        <app-user-list></app-user-list>
      </div>
    </div>
  </div>
</div>
