<div class="flex h-screen bg-surface-900">
  <app-server-list class="w-32 p-2 overflow-y-auto"></app-server-list>
  <p-divider 
    layout="vertical"  
    styleClass="!mx-0"
   />
  <app-channel-list class="w-72 p-2 overflow-y-auto"></app-channel-list>

  <div class="flex flex-col flex-1 bg-surface-800">
    <app-message-list class="flex-1 overflow-hidden"></app-message-list>
    <app-message-input class="pb-4 px-4"></app-message-input>
  </div>


  <p-divider 
    layout="vertical"  
    styleClass="!mx-0"
   />

  <app-user-list class="w-56 p-2 overflow-y-auto bg-surface-800"></app-user-list>
</div>
