<div class="chat-container">
  <div class="message-container">
    @for (message of messages(); track message) {
      <div class="mb-2">
        <strong>{{ message.authorId }}:</strong>
        <span>{{ message.content }}</span>
        <small class="ml-2 text-500">{{ formatTime(message.createdAt) }}</small>
      </div>
    }
  </div>

  <form class="flex gap-2" (submit)="sendMessage()">
    <input
      pInputText
      [(ngModel)]="newMessage"
      name="message"
      class="flex-grow-1"
      placeholder="Type your message..."
      />
      <button pButton type="submit" icon="pi pi-send" label="Send"></button>
    </form>
  </div>
