<div>
  <form (submit)="sendMessage()">
    <textarea
      pTextarea
      autoResize
      [ngModel]="newMessage()"
      (ngModelChange)="onInputChange($event)"
      name="message"
      rows="1"
      class="w-full !py-4 !pl-8 !text-sm !bg-surface-700 rounded-lg border !border-surface-600 focus:outline-none focus:ring-2 focus:ring-primary"
      [placeholder]="placeholderMessage()"
      (keydown)="handleKeydown($event)"
      style="max-height: 300px; overflow-y: auto;"
    ></textarea>
    <!-- <button pButton type="submit" icon="pi pi-send" label="Send"></button> -->
  </form>
</div>

