<div>
  <form (submit)="sendMessage()">
    <textarea
      pInputTextarea
      autoResize
      [ngModel]="newMessage()"
      (ngModelChange)="onInputChange($event)"
      name="message"
      rows="1"
      class="w-full resize-none -p-3 text-sm rounded-lg border-none focus:outline-none focus:ring-2 focus:ring-primary"
      [placeholder]="placeholderMessage()"
      (keydown)="handleKeydown($event)"
      style="max-height: 300px; overflow-y: auto;"
    ></textarea>
    <!-- <button pButton type="submit" icon="pi pi-send" label="Send"></button> -->
  </form>
</div>

